* {
    text-align: center;
    /* margin-top: 30px; */
    background-color: rgb(9, 14, 2);
    font-family: fantasy;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    padding: 10px;
    width: auto;
    border: 0;
    gap: 10px;
    justify-content: center;
}
.item1 {
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    color: black;
    text-align: center;
  }
.item1:hover {
    background-color: azure;
    cursor: pointer;
}
button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 0;

}
button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border: 0;
}